{
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "extends": ["plugin:react/recommended", "plugin:react-hooks/recommended", "react-app"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["react"],
  "parserOptions": {
    "sourceType": "module",
    "requireConfigFile": false,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-var": "error",
    "typescript-eslint/typescript-estree": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/react-in-jsx-scope": "off",
    "react/display-name": "off",
    "jsx-a11y/aria-role": "off",
    "react/prop-types": "off",
    "import/no-anonymous-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "peerDependencies": false
      }
    ],
    "no-throw-literal": "off",
    "react/no-multi-comp": [2, { "ignoreStateless": true }], // why this doesnt work ?
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[arguments.length=1][callee.property.name='reduce']",
        "message": "Provide initialValue to .reduce()."
      }
    ]
  }
}
