@import url(./tailwind.css);

body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

*,
:after,
:before {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}

.header {
  border-bottom: 1px solid #e1e1e1;
}

.header-tag {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 100px;
  background-color: #ddf4ff;
  color: #0969da;
  cursor: pointer;
}

.header-tag:not(.active-tag):hover {
  background-color: #c8edff;
}

.active-tag {
  background-color: #0969da;
  color: #fff;
}

a {
  text-decoration: none;
}

/*  */

.drag-element {
  border-radius: 6px;
  background-color: #fff;
  padding: 12px 10px;
  border: 2px solid transparent;
  box-shadow:
    0px 0px 1px 0px rgba(0, 0, 0, 0.24),
    0px 0px 2px 0px rgba(0, 0, 0, 0.08),
    0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.column {
  width: 280px;
  padding: 10px;
  height: max-content;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
  background: #f8f8f8;
}

.drag-element:hover {
  border-color: #a0c6ff;
}

.drag-element--active {
  border-color: #0c66e4 !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.column-draggable {
  min-height: 100px;
}

.tag {
  font-size: 14px;
  background: #efefef;
  padding: 2px 6px;
  border-radius: 3px;
}

.pretty-list {
  width: 320px;
  height: 600px;
  border: 2px solid #e5e5e5;
  border-radius: 6px;
  background: #f8f8f8;
}

.drag-test-active {
  background: lightgreen !important;
}

@media screen and (max-width: 482px) {
  .hide-on-mobile {
    display: none;
  }
  .pretty-list {
    width: 100%;
    height: 100%;
  }
}
